@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../font/proximanova-regular-webfont.woff2") format("woff2"), url("../font/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.section-title {
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 25px;
  color: #665f60;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.25s;
  cursor: pointer;
  background-color: #ebebeb;
}

.social-link:hover {
  transform: scale(1.1);
}

.social-icon {
  display: inline-block;
  width: 25px;
  height: 22px;
}

.news-arrows, .news-arrows-team {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 42px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  transition: transform 0.25s;
}

@media screen and (max-width: 1200px) {
  .news-arrows, .news-arrows-team {
    display: none;
  }
}

.news-arrows:hover, .news-arrows-team:hover {
  transform: scale(1.1);
}

.news-arrows-prev, .news-arrows-team-prev {
  background-image: url(../images/arrow_left.png);
  left: 15%;
}

.news-arrows-prev-team, .news-arrows-team-prev-team {
  background-image: url(../images/interface_arrow_left.png);
  left: 15%;
}

@media screen and (max-width: 1750px) {
  .news-arrows-prev-team, .news-arrows-team-prev-team {
    left: 5%;
  }
}

@media screen and (max-width: 1370px) {
  .news-arrows-prev-team, .news-arrows-team-prev-team {
    left: 1%;
  }
}

.news-arrows-next, .news-arrows-team-next {
  background-image: url(../images/arrow_right.png);
  right: 15%;
}

.news-arrows-next-team, .news-arrows-team-next-team {
  background-image: url(../images/interface_arrow_right.png);
  right: 15%;
}

@media screen and (max-width: 1750px) {
  .news-arrows-next-team, .news-arrows-team-next-team {
    right: 5%;
  }
}

@media screen and (max-width: 1370px) {
  .news-arrows-next-team, .news-arrows-team-next-team {
    right: 1%;
  }
}

body {
  background-color: #ebebeb;
  min-height: 100vh;
  max-width: 1600px;
  width: 100%;
}

body nav {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  color: #fff;
  padding: 36px 10%;
}

@media screen and (max-width: 992px) {
  body nav {
    padding-left: 5%;
    padding-right: 5%;
  }
}

body nav .nav__logo {
  cursor: pointer;
  height: 72px;
  width: 54px;
}

body nav .menu__burger-link {
  display: block;
}

body nav .menu__burger-link .menu__burger-icon {
  z-index: 200;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 35px;
  right: 35px;
}

body nav .menu__burger-link .burger-open {
  display: none;
}

body nav .menu__burger-link .burger-close {
  display: none;
}

body nav .menu {
  display: flex;
  align-items: center;
  list-style: none;
}

body nav .menu .menu__item {
  cursor: pointer;
  margin-left: 30px;
  position: relative;
}

body nav .menu .menu__item:hover .menu__item-link::after {
  width: 100%;
}

body nav .menu .menu__item .menu__item-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

body nav .menu .menu__item .menu__item-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ebebeb;
  transition: width 0.5s;
}

body #home {
  width: 100%;
  position: relative;
  background-image: url("../images/first-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1070px;
  width: 100%;
  padding: 0 10%;
}

@media screen and (max-width: 992px) {
  body #home {
    padding-left: 5%;
    padding-right: 5%;
  }
}

body #home .home__text {
  padding-top: 400px;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  body #home .home__text {
    padding-top: 50px;
  }
}

body #home .home__text .home__title {
  color: #fefefb;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

body #home .home__text .home__description {
  max-width: 700px;
  color: #fefdfd;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
}

body #about-section {
  display: flex;
  padding: 124px 150px;
}

body #about-section .about-image {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 555px;
  width: 380px;
  position: relative;
}

body #about-section .about-image:before {
  text-align: center;
  content: "ABOUT US";
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #fefbfc;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  top: 170px;
}

body #about-section .about-image:after {
  content: "";
  background-image: url("../images/icon-aboutus.png");
  width: 50px;
  height: 54px;
  position: absolute;
  top: 75px;
  left: 50%;
  z-index: 210;
  transform: translateX(-50%);
}

body #about-section .about-secription {
  margin-top: 70px;
  max-width: 633px;
  margin-left: 120px;
  text-align: center;
}

body #about-section .about-secription .about-text {
  color: #665f60;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 90px;
  text-align: left;
}

body #about-section .about-secription .about-cta {
  width: 195px;
  height: 50px;
  color: #7d7a7c;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  border: 1px solid #7d7a7c;
  background: transparent;
  cursor: pointer;
  transition-property: color, background;
  transition: 0.25s;
}

body #about-section .about-secription .about-cta:hover, body #about-section .about-secription .about-cta:focus {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
}

body #services {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

body #services .services__cards {
  text-align: center;
  font-size: 0;
  width: 1050px;
}

@media screen and (max-width: 1200px) {
  body #services .services__cards {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  body #services .services__cards {
    width: 100%;
  }
}

body #services .services__cards .services__card {
  display: inline-block;
  width: 350px;
  min-height: 400px;
  text-align: center;
  padding: 100px 10px 30px;
  vertical-align: top;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  body #services .services__cards .services__card {
    width: 100%;
    min-height: 250px;
    padding-top: 50px;
  }
}

body #services .services__cards .services__card:nth-of-type(odd) {
  background: #DBDBDB;
}

body #services .services__cards .services__card:nth-of-type(3) {
  background-image: url("../images/2-layers.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FEFCFD;
}

body #services .services__cards .services_large {
  min-height: 800px;
  padding-top: 117px;
}

@media screen and (max-width: 800px) {
  body #services .services__cards .services_large {
    min-height: 250px;
    padding: 50px 0 30px;
  }
}

body #services .item-title {
  color: #665f60;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 20px;
}

body #services .item-text {
  color: #665f60;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

body #services .item-title-aside {
  color: #fefcfd;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 32px 0 115px;
}

@media screen and (max-width: 800px) {
  body #services .item-title-aside {
    margin: 25px 0 30px;
  }
}

body #services .item-text-aside {
  color: #fefcfd;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

body #services .item-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body #services .item-icon1 {
  background-image: url("../images/icon-graphic.png");
  height: 61px;
  width: 47px;
}

body #services .item-icon2 {
  background-image: url("../images/icon-web.png");
  height: 59px;
  width: 58px;
}

body #services .item-icon3 {
  background-image: url("../images/icon-seo.png");
  height: 61px;
  width: 50px;
}

body #services .item-icon4 {
  background-image: url("../images/icon-mobile.png");
  height: 61px;
  width: 36px;
}

body #services .item-icon5 {
  background-image: url("../images/icon-services.png");
  height: 60px;
  width: 62px;
}

body #works {
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

body #works .works-title {
  color: #fff;
  margin: 36px 0 68px;
}

@media screen and (max-width: 768px) {
  body #works .works-title {
    margin: 20px 0 30px;
  }
}

body #works .works__slider {
  margin: 0 auto 60px;
  max-width: 1140px;
  width: 100%;
  text-align: center;
  position: relative;
}

body #works .works__slider .slick-dots {
  list-style: none;
  position: absolute;
  bottom: -30px;
  padding: 0;
  margin: 0;
  font-size: 0;
}

body #works .works__slider .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  margin-right: 6px;
}

body #works .works__slider .slick-dots li button {
  display: none;
}

body #works .works__slider .slick-dots .slick-active {
  background: white;
}

body #works .works__slider .item-img {
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
}

body #works .work-cta {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  background-color: transparent;
  border: 1px solid white;
  width: 195px;
  height: 50px;
  cursor: pointer;
  transition-property: color, background;
  transition: 0.25s;
}

body #works .work-cta:hover, body #works .work-cta:focus {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
}

body #team {
  padding: 55px 10% 0;
  text-align: center;
  position: relative;
}

body #team .team-title {
  margin-top: 34px;
}

body #team .team__slider {
  width: 100%;
  max-width: 1140px;
  text-align: center;
  position: relative;
}

body #team .team__slider .slick-dots {
  list-style: none;
  position: absolute;
  bottom: -30px;
  padding: 0;
  margin: 0;
  font-size: 0;
}

body #team .team__slider .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #9f9acf;
  border-radius: 50%;
  background: transparent;
  margin-right: 6px;
}

body #team .team__slider .slick-dots li button {
  display: none;
}

body #team .team__slider .slick-dots .slick-active {
  background: #9f9acf;
}

body #team .team__slider .slider__item {
  margin: 0 10px;
  display: inline-block;
}

body #team .team__slider .slider__item .team__card-wrapper {
  margin-top: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body #team .team__slider .slider__item .team__card-wrapper {
    height: 330px;
  }
}

body #team .team__slider .slider__item .team__card-wrapper .slider__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 238px;
  width: 240px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

body #team .team__slider .slider__item .team__card-wrapper .team__card-name {
  color: #9f9acf;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

body #team .team__slider .slider__item .team__card-wrapper .team__card-profession {
  color: #665f60;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 24px;
  font-style: italic;
  margin: 30px 0 50px;
}

@media screen and (max-width: 768px) {
  body #team .team__slider .slider__item .team__card-wrapper .team__card-profession {
    margin: 15px 0 20px;
  }
}

body #team .team__slider .slider__item .team__card-wrapper .team__card-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #9f9acf;
  height: 70px;
}

body #team .team__slider .slider__item .team__card-wrapper .team__card-icons .team__social-link {
  margin-left: 10px;
  margin-right: 10px;
}

body #team .team__slider .slider__item .slider__img1 {
  background-image: url("../images/man.png");
}

body #team .team__slider .slider__item .slider__img2 {
  background-image: url("../images/girl1.png");
}

body #team .team__slider .slider__item .slider__img3 {
  background-image: url("../images/girl2.png");
}

body #contact {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body #contact .map-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

body #contact .map-wrapper #map {
  width: 100%;
  height: 900px;
  color: #000;
}

body #contact .map-wrapper .form-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(138, 43, 226, 0.2);
  pointer-events: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body #contact .map-wrapper .form-wrapper .get-in-touch-img {
  margin-top: 56px;
}

body #contact .map-wrapper .form-wrapper .get-in-touch-title {
  color: #ffffff;
}

body #contact .map-wrapper .form-wrapper form {
  pointer-events: auto;
  height: 100%;
  width: 860px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  body #contact .map-wrapper .form-wrapper form {
    width: 660px;
  }
}

@media screen and (max-width: 768px) {
  body #contact .map-wrapper .form-wrapper form {
    width: 80%;
  }
}

body #contact .map-wrapper .form-wrapper form .input-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body #contact .map-wrapper .form-wrapper form .input-wrapper {
    flex-direction: column;
  }
}

body #contact .map-wrapper .form-wrapper form .input-wrapper input:first-child {
  margin-right: 32px;
}

@media screen and (max-width: 768px) {
  body #contact .map-wrapper .form-wrapper form .input-wrapper input:first-child {
    margin-bottom: 27px;
  }
}

body #contact .map-wrapper .form-wrapper form input, body #contact .map-wrapper .form-wrapper form textarea {
  width: 100%;
  border: none;
  height: 56px;
  padding: 22px 27px;
  background-color: rgba(235, 235, 235, 0.7);
}

body #contact .map-wrapper .form-wrapper form input:focus, body #contact .map-wrapper .form-wrapper form textarea:focus {
  background-color: #ebebeb;
  border: 2px solid #9f9acf;
}

body #contact .map-wrapper .form-wrapper form input::placeholder, body #contact .map-wrapper .form-wrapper form textarea::placeholder {
  color: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 18px;
}

body #contact .map-wrapper .form-wrapper form textarea {
  height: 200px;
  margin-top: 27px;
}

body #contact .map-wrapper .form-wrapper form button {
  width: 293px;
  height: 70px;
  background-color: #9f9acf;
  color: #ffffff;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.7);
  margin: 55px 0;
  pointer-events: auto;
  cursor: pointer;
  border: 2px solid transparent;
}

body #contact .map-wrapper .form-wrapper form button:hover {
  border: 2px solid #fff;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  body #contact .map-wrapper .form-wrapper form button {
    margin: 20px 0;
  }
}

body #contact .map-wrapper .form-wrapper #scroll-up {
  pointer-events: auto;
  cursor: pointer;
  height: 84px;
  width: 84px;
  background-color: rgba(159, 154, 207, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 46px;
  right: 130px;
}

body #contact .map-wrapper .form-wrapper #scroll-up:hover {
  background-color: #9f9acf;
}

@media screen and (max-width: 1200px) {
  body #contact .map-wrapper .form-wrapper #scroll-up {
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  body #contact .map-wrapper .form-wrapper #scroll-up {
    right: 0;
    bottom: 20px;
  }
}

body #contact .map-wrapper .form-wrapper #scroll-up img {
  height: 21px;
  width: 36px;
}

body #contact .map-wrapper .form-wrapper .touch-item {
  display: flex;
  position: absolute;
  right: -260px;
  pointer-events: auto;
  cursor: pointer;
  transition: transform 0.5s;
}

body #contact .map-wrapper .form-wrapper .touch-item:hover {
  transform: translateX(-260px);
}

body #contact .map-wrapper .form-wrapper .touch-item .touch-img {
  height: 90px;
  width: 90px;
  background-color: #9f9acf;
  display: flex;
  align-items: center;
  justify-content: center;
}

body #contact .map-wrapper .form-wrapper .touch-item .touch-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 260px;
  color: #665f60;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(235, 235, 235, 0.7);
}

body #contact .map-wrapper .form-wrapper .house-wrapper {
  top: 219px;
}

body #contact .map-wrapper .form-wrapper .phone-wrapper {
  top: 310px;
}

body footer {
  width: 100%;
  padding: 75px 50px 80px;
  background-color: #9f9acf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  body footer {
    padding: 25px 20px 30px;
    flex-direction: column;
  }
}

body footer .footer__description {
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  white-space: nowrap;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body footer .footer__description {
    margin-bottom: 15px;
  }
}

body footer .footer__icons {
  margin-left: auto;
  display: flex;
}

@media screen and (max-width: 768px) {
  body footer .footer__icons {
    margin: 0 auto;
  }
}

body footer .footer__icons .footer__social-link {
  margin-left: 25px;
}

body footer .footer__icons .footer__social-link:first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  body nav {
    padding-top: 10px;
  }
  body nav .menu__burger-link .burger-open {
    display: block;
  }
  body nav .menu {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    margin: 0;
    padding: 60px 80px 15px 35px;
    overflow-y: auto;
    text-align: left;
    z-index: 100;
    transform: translate(100%, 0);
    transition: transform 0.5s;
  }
  body nav .menu .menu__item {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }
  body #home {
    height: 100vh;
  }
  body #home .home__text {
    padding-top: 180px;
  }
  body #home .home__text .home__title {
    font-size: 50px;
  }
  body #home .home__text .home__description {
    font-size: 24px;
  }
  body #about-section {
    padding: 50px 5%;
  }
  body #about-section .about-image {
    height: 400px;
  }
  body #about-section .about-image:before {
    font-size: 30px;
  }
  body #about-section .about-secription {
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
  }
  body #about-section .about-secription .about-text {
    font-size: 18px;
    margin-bottom: 40px;
  }
  body #services {
    padding: 0 5%;
  }
  body #services .col1-wrapper {
    width: 100%;
  }
  body #services .col1-wrapper .row {
    display: flex;
  }
  body #services .col1-wrapper .row .col-item {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body #services .col1-wrapper .row .bg-grey {
    background-color: #dbdbdb;
  }
  body #services .col1-wrapper .first-row {
    flex-direction: column;
  }
  body #services .col2-wrapper {
    background-image: url("../assets/images/2-layers.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    padding: 116px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  body #services .col2-wrapper .item-title-aside {
    color: #fefcfd;
    font-family: "proxima_nova_rgbold", Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 32px 0 115px;
  }
  body #services .col2-wrapper .item-text-aside {
    color: #fefcfd;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    text-align: center;
  }
}
